{% extends "authentication/base.html" %}


    {% block body %}
        <div class="form_container">
            <form method="POST">
                {% csrf_token %}
                <h2>Login</h2>
    
                <div class="container">
                    <label for="uname">User Name:</label>
                        <input type="text" name="uname" placeholder="Your User Name">
                </div>
    
                <div class="container">
                    <label for="pass">Password:</label>
                        <input type="password" name="pass" placeholder="Create Password">
                </div>
                
                <div class="container">
                        <input type="submit" value="Login">
                </div>
                
               <p> You don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
            </form>
       </div>
    {% endblock %}